asgiref==3.12.1
certifi==2026.7.22
dj-database-url==3.1.2
Django==6.1.1
django-axes==8.3.1
django-htmx==1.29.0
django-simple-history==3.13.0
gunicorn==26.2.0
psycopg2-binary==2.9.12
python-decouple==3.8
sentry-sdk==2.68.1
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
